<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <img src="{% static 'images/dog.jpg' %}"alt="Kanika Mittal | Front-end Developer" height="24"></a>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="#navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          <a class="navbar-item" href="/">about</a>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <div class='container'>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-body" id="profile-wrapper">
          <img id="profile-pic" src="{% static 'images/dog.jpg'%}">
          <br>
          <h4>hi i am kanika</h4>
          <p>i love coding</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-body"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body"></div>
      </div>
      <div class="col-md-6">
        <div class="card card-body"></div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="card card-body"></div>
      </div>
      <div class="col-md-6">
        <div class="card card-body"></div>
      </div>
    </div>
    <br> 
  </div>